{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Book</legend>

                <div class="form-group">
                    {{ form.isbn.label(class="form-control-label") }}
                    {% if form.isbn.errors %}
                        {{ form.isbn(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.isbn.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.isbn(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.submit(class="uni-btn btn btn-outline-danger") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
